<div class="jumbotron">

    <h1>Mitgliederbereich</h1>
    <p>
		Sie sind derzeit als <%= current_student.email %> angemeldet 
		und sind zur Zeit in 
		<%if current_student.courses.count == 0 %> 
			keinem Kurs
		<% elsif current_student.courses.count == 1 %> 
			einem Kurs
		<% else %> 
			<%= link_to current_student.courses.count.to_s+" Kursen", courses_path %> 
		<% end %>
		eingeschrieben.
		Ihre letzte Anmeldung war am <%= current_student.last_sign_in_at%>.
    </p>
</div>