<div class="jumbotron">

    <h1>

       kursios&trade; 

    </h1>
    <p>
		Bitte mit den von Ihrer Kursleiterin / Ihrem Kursleiter zugeschickten Zugangsdaten 
		<%= link_to 'anmelden',  new_student_session_path %>
		...
    </p>
</div>




