<div class="container">
      <div class="page-header">
        <h1>Was ist kursios?</h1>
      </div>
      <p class="lead">kursios ist eine Plattform zur elektronischen Verwaltung von Klassen, Gruppen oder Kursen .</p>
      <p>Derzeit entwickeln wir Apps für Android und iOS. Melden Sie sich über das <%= link_to 'Kontaktformular', info_path%> um weitere Infos zu erhalten.</p>
    </div>
    
       <footer class="navbar-fixed-bottom">
      <small><%= link_to 'admin', new_admin_session_path, :class => "color: gray-lighter" %></small>
    </footer>
