<%# add navigation links to this file %>
<li><%= link_to 'All Students', students_path%></li>
<li><%= link_to 'All Worksheets', worksheets_path%></li>
<li><%= link_to 'All Courses', courses_path%></li>